.main-header .logo {
  font-family: "Georgia", Times, "Times New Roman", serif;
  font-weight: bold;
  font-size: 24px;
}

.legend {
	font-size: 7px;
	line-height: 8px;
}

.legend i {
  border-radius: 50%;
  width: 7px;
  height: 7px;
  vertical-align: text-bottom;
}